<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <title>
        Argon Design System by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="./assets/css/font-awesome.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="./assets/css/argon-design-system.css?v=1.2.0" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body class="index-page">
    <!-- Navbar -->
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
        <div class="container">
            <a class="navbar-brand mr-lg-5">
                <img src="https://i.ibb.co/80WztzQ/mani.png" style="height: 100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="https://i.ibb.co/80WztzQ/mani.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">Dashboard</span>
                        </a>
                       
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="section section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
            </div>
            <div class="page-header">
                <div class="container align-items-center py-lg">
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col text-center">
                                <img src="https://i.ibb.co/80WztzQ/mani.png" style="width: 200px;" class="img-fluid">
                                <div class="row">
                                    <div class="col-sm-6" style="font-size: 12px">
                                        <style>
                                            #chartdiv {
  width: 100%;
  height: 500px;
}


</style>
                                        <!-- Resources -->
                                        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                                        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                                        <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
                                        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
                                        <!-- Chart code -->
                                        <script>
                                            am4core.ready(function() {

                                            // Themes begin
                                            am4core.useTheme(am4themes_material);
                                            am4core.useTheme(am4themes_animated);
                                            // Themes end

                                            var chart = am4core.create("chartdiv", am4charts.PieChart3D);
                                            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                                            chart.legend = new am4charts.Legend();

                                            chart.data = [{
                                                    country: "BRICKS",
                                                    litres: 501.9
                                                },
                                                {
                                                    country: "CEMENT",
                                                    litres: 301.9
                                                },
                                                {
                                                    country: "ELECTRICAL",
                                                    litres: 201.1
                                                },
                                                {
                                                    country: "PLUMING",
                                                    litres: 165.8
                                                },
                                                {
                                                    country: "RODS",
                                                    litres: 139.9
                                                },
                                                {
                                                    country: "",
                                                    litres: 128.3
                                                }

                                            ];

                                            chart.innerRadius = 100;

                                            var series = chart.series.push(new am4charts.PieSeries3D());
                                            series.dataFields.category = "country";

                                            series.dataFields.value = "litres";

                                        }); // end am4core.ready()
                                        </script>
                                        <!-- HTML -->
                                        <div id="chartdiv"></div>
                                    </div>
                                </div>
                                <style>
                                    #chartdiv1 {
  width: 100%;
  height: 500px;
}

</style>
                                <!-- Resources -->
                                <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
                                <!-- Chart code -->
                                <script>
                                    am4core.ready(function() {

                            // Themes begin
                            am4core.useTheme(am4themes_material);
                            am4core.useTheme(am4themes_animated);
                            // Themes end

                            var chart = am4core.create("chartdiv1", am4charts.PieChart3D);
                            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                            chart.legend = new am4charts.Legend();

                            chart.data = [{
                                    country: "masons",
                                    litres: 501.9
                                },
                                {
                                    country: "helper",
                                    litres: 301.9
                                },
                                {
                                    country: "plumber",
                                    litres: 201.1
                                }
                            ];

                            chart.innerRadius = 100;

                            var series = chart.series.push(new am4charts.PieSeries3D());
                            series.dataFields.value = "litres";
                            series.dataFields.category = "country";

                        }); // end am4core.ready()
                        </script>
                                <!-- HTML -->
                                <span style="color: white">RAW MATERIAL PURCHASE PRICE</span>
                                <div id="chartdiv1"></div>
                                <!-- Styles -->
                                <style>
                                    #chartdiv3 {
  width: 100%;
  height: 500px;
  font-size: 12px;
}

</style>
                                <!-- Resources -->
                                <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
                                <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
                                <!-- Chart code -->
                                <script>
                                    am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_material);
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv3", am4charts.XYChart);
chart.padding(40, 40, 40, 40);

var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "network";
categoryAxis.renderer.minGridDistance = 1;
categoryAxis.renderer.inversed = true;
categoryAxis.renderer.grid.template.disabled = true;

var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
valueAxis.min = 0;

var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryY = "network";
series.dataFields.valueX = "MAU";
series.tooltipText = "{valueX.value}"
series.columns.template.strokeOpacity = 0;
series.columns.template.column.cornerRadiusBottomRight = 5;
series.columns.template.column.cornerRadiusTopRight = 5;

var labelBullet = series.bullets.push(new am4charts.LabelBullet())
labelBullet.label.horizontalCenter = "left";
labelBullet.label.dx = 10;
labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#.0as')}";
labelBullet.locationX = 1;

// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
series.columns.template.adapter.add("fill", function(fill, target){
  return chart.colors.getIndex(target.dataItem.index);
});

categoryAxis.sortBySeries = series;
chart.data = [
    {
      "network": "BRICKS",
      "MAU": 2255250000
    },
    {
      "network": "PIPES+",
      "MAU": 430000000
    },
    {
      "network": "WIRES",
      "MAU": 1000000000
    },
    {
      "network": "TEST",
      "MAU": 246500000
    }
    
  ]



}); // end am4core.ready()
</script>
                                <!-- HTML -->
                                <span style="color: white">RAW MATERIAL PURCHASE PRICE</span>
                                <div id="chartdiv3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-info mb-6 col-md-4" data-toggle="modal" data-target="#modal-form">ADD SITE</button>
                    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <div class="card bg-secondary shadow border-0 mb-0">
                                        <div class="card-body px-lg-5 py-lg-5">
                                            <div class="text-center text-muted mb-4">
                                                <small>ADD LOCATION</small>
                                            </div>
                                            <form role="form">
                                                <div class="form-group mb-3">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class=""></i></span>
                                                        </div>
                                                        <input class="form-control" placeholder="ENTER SITE  NAME" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class=""></i></span>
                                                        </div>
                                                        <textarea class="form-control" placeholder="ENTER LOCATION">
                                                        </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="date" class="form-control" name="">
                                                    <center><span>TO</span></center>
                                                    <input type="date" class="form-control" name="">
                                                </div>
                                                <div>
                                                    <input type="file" class="form-control" id="myfile" name="myfile">
                                                </div>
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-primary my-4">ADD</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary mb-6 col-md-4" data-toggle="modal" data-target="#paymentform">ADD PAYMENT</button>
                    <div class="modal fade" id="paymentform" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <div class="card bg-secondary shadow border-0 mb-0">
                                        <div class="card-body px-lg-5 py-lg-5">
                                            <div class="text-center text-muted mb-4">
                                                <small>ADD PAYEMENT</small>
                                            </div>
                                            <form role="form">
                                                <div class="form-group mb-3">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class=""></i></span>
                                                        </div>


                                                        <select class="form-control">
                                                            <option class="form-control">site 1</option>
                                                            <option>SITE 2</option>
                                                        </select>


                                                        <select class="form-control">
                                                            <option>masons</option>
                                                            <option>Helper</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class=""></i></span>
                                                        </div>
                                                        <textarea class="form-control" placeholder="ENTER REMARKS">
                                                        </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="date" class="form-control" name="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="ENTER THE AMOUNT">
                                                </div>
                                                <div>
                                                    <input type="file" id="myfile" class="form-control" name="myfile">
                                                </div>
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-primary my-4">ADD</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <button type="button" class="btn btn-primary mb-6 col-md-4" data-toggle="modal" data-target="#expenses">ADD EXPENSES</button>
                    <div class="modal fade" id="expenses" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <div class="card bg-secondary shadow border-0 mb-0">
                                        <div class="card-body px-lg-5 py-lg-5">
                                            <div class="text-center text-muted mb-4">
                                                <small>ADD EXPENSES</small>
                                            </div>
                                            <form role="form">
                                                <div class="form-group mb-3">
                                                    <div class="input-group input-group-alternative">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class=""></i></span>
                                                        </div>
                                                        <input type="text" class="form-control"  name="ENTER RAW MATERIAL NAME">
                                                    </div>
                                                </div>
                                               
                                                <div class="text-center">
                                                    <button type="button" class="btn btn-primary my-4">ADD</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ADD SITE DETAILS-->
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="./assets/js/plugins/bootstrap-switch.js"></script>
    <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/moment.min.js"></script>
    <script src="./assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/bootstrap-datepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="./assets/js/argon-design-system.min.js?v=1.2.0" type="text/javascript"></script>
    <script>
    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
    window.TrackJS &&
        TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "argon-design-system-pro"
        });
    </script>
</body>

</html>